<web-app version="6.0"
	xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>OpenApi</servlet-name>
		<servlet-class>io.swagger.v3.jaxrs2.integration.OpenApiServlet</servlet-class>
		<init-param>
			<param-name>openApi.configuration.resourcePackages</param-name>
			<param-value>br.edu.unyleya.pos.graduacao.dev.jakarta.resources</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>OpenApi</servlet-name>
		<url-pattern>/openapi/*</url-pattern>
	</servlet-mapping>
</web-app>